.user__container {
    background-size: cover;
    background-position: center;
    display: flex;
    font-family: 'Arial';
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}

.user__container__left, .user__container__right {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}

.user__container__left__header {
    /* background: rgba(255, 255, 255, 0.555); */
    background: #9dcece;
    /* color: #0cadad; */
    color: white;
    border-radius: 25px;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    margin: 0 7%;
    padding: 2%;
    text-align: center;
}

.user__container__left__top {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid lightgrey;
    border-radius: 25px;
    display: flex;
    margin: 2% 7%;
    padding: 3%;
}

        .user__avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);
            height: 150px;
            margin: auto;
            width: 150px;
        }

        .user__container__left__top__userdata {
            margin-left: 2rem;
            width: 60%;
        }

                .user__container__left__top__userdata * {
                    line-height: 180%;
                } 

                .user__container__left__top__userdata__contact {
                    display: flex;
                }

                .user__container__left__top__userdata__contact * {
                    padding-right: 0.6rem;
                }

                .user__container__left__top__userdata input { 
                    width: 80%;
                }

                .edit__button {
                    background: #0cadad69;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                    padding: 0.3rem 1.2rem;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
                    vertical-align: middle;
                }

                .edit__button:hover{
                    background: #0cadad;
                }

                .unvisible {
                    display: none;
                }

.user__container__left__bottom {
    margin-top: 5%;
}

        .user__container__left__market {
            background: rgba(255, 255, 255, 0.555);
            border: 1px solid lightgrey;
            border-radius: 25px;
            display: flex;
            margin: 2% 7%;
            padding: 3%;
        }

        .user__container__left__market img {
            width: 50%;
            height: 100%;
            border-radius: 25px;
        }

        .user__container__left__market__marketdata {
            margin-left: 3rem;
            line-height: 150%;
        }