.basket__container h1 {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    color: #6cb8b8;    
    font-size: 4rem;
    letter-spacing: 1.3rem;
    margin: 6vh auto auto 6vw;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 22rem;
}

.basket__container_table {
    background: rgba(255, 255, 255, 0.555);
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    font-size: 1.3rem;
    margin: 4vh auto;
    max-height: 60vh;
    overflow: auto;
    padding: 1rem 3rem;
    width: 70%;
}

.basket__container_table table {
    margin: 0 auto;
    width: 100%;
}

    .basket__container_table th {
        color: #6cb8b8;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        padding: 1rem;    
    }

    .basket__container_table td {
        padding: 1rem;
    }

    .basket__container_table tfoot {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .table__center__content {
        text-align: center;
    }